* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #030616;
}

header {
    
    display: grid;
    grid-template-columns: 10% 20% 49%;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.nombre {
    width: 100%;
    font-size: 25pt;
    color: white;
    font-weight: bold;

    
}
.estrenos{
    width: 100%;
    height: 140px;
    color: yellowgreen;
    line-height: 140px;
    
}
.estrenos h2 {
    text-align: right;
   font-size: 20pt;
   font-family: 'Doto', sans-serif;
}
.pasarela {
    width: 100%;
    height: 140px;
   
}

.img_pasarela {
    width: 120px;
    height: 140px;
    margin-right: 5px;
    border: 1px solid yellowgreen;

}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80%;
    height: 100%;
    padding: 20px;
    justify-content: space-around;

}

.posters {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    justify-content: center;

}

.posters img {
    width: 100%;
    height: 100%;
    border: 1px solid yellowgreen;
}

h1 {
    font-size: 50px;
    margin-top: 10%;
    color: white;
}

nav {
    line-height: 50px;
    height: 100%;
}

ul {
    list-style: none;
}

li a {
    color: rgb(211, 211, 210);
    text-decoration: none;
    font-size: 1.5rem;
}

footer {
   
    color: rgb(252, 250, 250);
    text-align: center;
    position: relative;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

.icono_logo {
    color: white;
    font-size: 35px;
    color: yellowgreen;

}

footer p {
    position: relative;
    top: 50%;
}
